

<div class="display-flex-box">
  <%= render "shared/heading" %>


  <div class="container blog-mt">
  <div class="row">
    <% @blogs.reverse.each do |blog| %>
      <div class="col-12 col-md-6 col-lg-4 blog-card-margin">
        <% if blog.photos.attached? %>
            <% background_url = cl_image_path blog.photos.first.key%>
        <% else %>
          <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
        <% end %>

        <div class="blog-card">
          <%= link_to blog_path(blog) do  %>
            <div class="card" style="background-image: url('<%= background_url %>'); height: 430px; background-size: cover; background-repeat: no-repeat; background-position:center;">
            </div>
          <% end %> 
          <div class="blog-headline">
            <%= link_to blog.title.upcase, blog_path(blog), class:"blog-title-link"%>
            <% if blog.published_date %>
              <p><%= blog.published_date.strftime("%b %d, %Y") %></p>
            <% else %>
              <p><%= blog.created_at.strftime("%b %d, %Y") %></p>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
  </div>
<% if current_user && current_user.admin %>
  <%= link_to "Create a Post", new_blog_path %>
<% end %>
</div>
