<%= render "shared/heading" %>
<div class="container blog-show-container " id="blog-<%= @blog.id %>">
  <% if @blog.published_date %>
    <p><%= @blog.published_date.strftime("%b %d, %Y").to_str.upcase %></p>
  <% else %>
    <p><%= @blog.created_at.strftime("%b %d, %Y").to_str.upcase %></p>
  <% end %>
  <div class="blog-header"> 
    <h1><%= @blog.title.upcase %></h1>
  </div>
  <h4><%= @blog.category.upcase %></h4>

  <div class="blog-body">
    <p><%= @blog.rich_body %></p>
  </div>

  <div class="blog-action-links">
    <%= link_to "All Blogs", blogs_path %>
    <% if current_user && current_user.admin %>
      <%= link_to "Edit Blog Post", edit_blog_path(@blog) %>
      <%= link_to "Delete", blog_path(@blog), method: :delete, data: {confirm: "Are you sure?"}  %>
    <% end %>
  </div>
</div>